<a href="https://colab.research.google.com/github/NiallSheridan22/MachineLearning/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split #iMPORT TRAIN allows me to split data and test data
from sklearn.linear_model import LogisticRegression  #Model chose is logistic could change it to another model for testing 
from sklearn.metrics import accuracy_score
df = pd.read_csv('creditcard.csv')




#SEPERATING DATA FOR LEGIT AND FRAUDLENT
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [ ]:
df.isnull().sum() ##checking to see if theres missing values in the dataset

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
df['Class'].value_counts()  # Fraudlent transaction represents 1 and legit reperesents 0

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
print(legit.shape) #31 colums and the number of transactions

(284315, 31)

In [ ]:
print(fraud.shape)  #31 colums and the number of fraudlent transactions

(492, 31)

In [ ]:
legit.Amount.describe() #the mean value for legit transaction. Describing the legit transactions.

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe() #the mean value for fraud transaction. Describing the fraudlents transactions

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In the code above that the describes the Amount 25,50 and 75% show the amount spent most of the time.

So far I have been checking the dataset for missing values and seeing the fraudlent transactions and legit.

In [4]:
df.groupby('Class').mean() #Zero represents legit and 1 represents 1. In the code I am comparing the values. This difference in the
#code is very important to understand what is real and what is fraudlent.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,48436.358689,-0.241228,-0.010856,0.692658,0.142703,-0.274972,0.088547,-0.102612,0.058901,-0.079693,...,0.042431,-0.038775,-0.114708,-0.034517,0.011446,0.130392,0.027474,-0.000328,0.001801,93.489391
1.0,41696.459459,-5.665406,3.986162,-7.246458,4.546140,-4.019892,-1.498144,-5.995046,1.524421,-2.625621,...,0.245240,1.274524,-0.323077,-0.110412,-0.109276,0.204702,0.061254,0.502860,0.080389,116.936293

Now I will make a sample dataset that will have a similiar distribution of normal transactions and fraud transactions
The fraud transactions from aboves code was equal to - 492

In [6]:
# compare the values for both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,48436.358689,-0.241228,-0.010856,0.692658,0.142703,-0.274972,0.088547,-0.102612,0.058901,-0.079693,...,0.042431,-0.038775,-0.114708,-0.034517,0.011446,0.130392,0.027474,-0.000328,0.001801,93.489391
1.0,41696.459459,-5.665406,3.986162,-7.246458,4.546140,-4.019892,-1.498144,-5.995046,1.524421,-2.625621,...,0.245240,1.274524,-0.323077,-0.110412,-0.109276,0.204702,0.061254,0.502860,0.080389,116.936293

In [7]:
legit_sample = legit.sample(n=492)

Concatinate the datasets

In [8]:
myNew_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
myNew_dataset.head()  #check first 5 values

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
15559,26954.0,1.120134,-0.253048,-0.661769,-0.374841,0.254563,-0.373008,0.449277,-0.187092,-0.296119,...,-0.331375,-1.281686,-0.118043,-0.785132,0.295756,0.776908,-0.136200,-0.001234,129.00,0
258602,158728.0,-0.699293,0.028394,0.762429,-3.522413,-0.799274,-0.489336,-0.359025,0.342577,0.285958,...,-0.403750,-0.632314,0.090350,0.561725,-0.178489,-1.061381,-0.010622,0.081478,13.05,0
90103,62865.0,-0.817735,0.793238,0.365173,-2.623895,-0.403762,-0.561723,-0.044210,-0.587514,1.521684,...,0.816499,0.161116,-0.289565,-0.377917,0.668308,-0.665941,-0.111445,-0.041977,9.95,0
62922,50476.0,1.538247,-0.842887,-0.189669,-1.322174,-1.169558,-1.357057,-0.453642,-0.405969,-2.147050,...,-0.169571,-0.127833,-0.086806,0.387284,0.665389,-0.083602,-0.007557,0.007877,25.00,0
99592,67191.0,-1.174768,2.086937,0.360771,-1.361323,-2.101499,-0.106638,1.420917,0.600048,-0.400401,...,-0.255177,-0.258530,0.271069,0.442735,-0.297526,0.714285,0.466698,-0.041998,329.00,0

In [ ]:
myNew_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
myNew_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [9]:
# compare the values for both transactions
myNew_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,48333.721545,-0.340851,0.002296,0.663253,0.205191,-0.285660,0.027780,-0.138447,0.052121,-0.086823,...,0.03217,-0.051636,-0.111799,0.012710,0.037937,0.125235,0.067152,-0.019977,-0.008939,94.632703
1.0,41696.459459,-5.665406,3.986162,-7.246458,4.546140,-4.019892,-1.498144,-5.995046,1.524421,-2.625621,...,0.24524,1.274524,-0.323077,-0.110412,-0.109276,0.204702,0.061254,0.502860,0.080389,116.936293

I will now be seperating the data into targets and features either zero or one

In [12]:
x = myNew_dataset.drop(columns = 'Class', axis = 1 )
y = myNew_dataset['Class']

In [13]:
print(x) #dropped the class columm only 30 now

         Time        V1        V2        V3        V4        V5        V6  \
105129  69377  1.075676 -0.281544  1.317319  0.752709 -0.977419  0.361756
116801  74432  1.236026  0.015663  0.608775  0.888823 -0.642314 -0.604799
116589  74346 -0.559217  0.757296  2.210868  1.387400  0.191777  0.894785
29753   35616  1.112466  0.127925  0.326518  1.230513 -0.240635 -0.403531
30913   36136 -2.761312  2.707916  0.631881 -0.528908 -0.424894 -0.909094
...       ...       ...       ...       ...       ...       ...       ...
123301  76876 -1.298359  1.079671 -0.180678  1.287839  1.858273 -2.223695
124036  77154 -0.715414  0.608590  1.155501 -0.267565 -0.563748 -0.618898
124087  77171  1.118560  1.291858 -1.298805  2.135772  0.772204 -1.147291
124115  77182 -1.410852  2.268271 -2.297554  1.871331  0.248957 -1.208799
124176  77202 -0.356326  1.435305 -0.813564  1.993117  2.055878 -0.543579

              V7        V8        V9  ...       V20       V21       V22  \
105129 -0.815565  0.359194  0.695108  ... -0.140786 -0.000545  0.171275
116801 -0.146688 -0.093858  0.637451  ... -0.143083 -0.093438 -0.013563
116589  0.060048  0.472358 -0.468025  ... -0.185026  0.030738  0.083221
29753   0.061721 -0.033107  0.078564  ... -0.132952  0.114455  0.290693
30913   0.783708 -0.304952  1.252626  ...  0.919365 -0.407378 -0.573571
...          ...       ...       ...  ...       ...       ...       ...
123301  0.525167 -0.096874 -0.168893  ... -0.187572 -0.332983 -0.851270
124036  0.698308  0.069837 -0.133341  ... -0.186978  0.130749  0.239389
124087  0.390578 -0.107072 -0.038339  ... -0.023576 -0.346374 -0.663588
124115 -1.358648  1.102916 -1.317364  ...  0.058063  0.155381 -0.614880
124176  0.487691  0.085449 -0.536352  ...  0.303262 -0.312863 -0.687874

             V23       V24       V25       V26       V27       V28  Amount
105129  0.074325  0.252557  0.113667  0.317260  0.027618  0.015541   11.50
116801 -0.081650  0.455909  0.583889  0.438830 -0.015668  0.009707    1.00
116589 -0.151483 -0.542861 -0.414174 -0.219878  0.148871  0.147240   10.00
29753  -0.107854  0.068939  0.564490 -0.253111  0.022717  0.024288   44.80
30913  -0.006693  0.365371  0.012555 -0.094172 -0.839463 -0.509572    9.86
...          ...       ...       ...       ...       ...       ...     ...
123301 -0.370800  0.298242  0.442930 -0.522832  0.000105  0.135698    1.00
124036 -0.090227  0.411572 -0.216126  0.353896 -0.062361  0.008433  129.00
124087 -0.102326  0.017911  0.650302 -0.332366  0.105949  0.128124    1.00
124115 -0.196126 -0.464376  0.118473 -0.484537  0.373596  0.187657    1.00
124176 -0.267003 -1.158480  0.271460 -0.155397  0.114328  0.101526    1.00

[751 rows x 30 columns]

In [14]:
print(y)

105129    0.0
116801    0.0
116589    0.0
29753     0.0
30913     0.0
         ...
123301    1.0
124036    1.0
124087    1.0
124115    1.0
124176    1.0
Name: Class, Length: 751, dtype: float64

Now spliting the data into testing and training data

X is the features and Y is the Class.  Test size is the amount of data i want. X and y will be split into training data randomly. Stratify = y is because if i dont mention it the distribution wont be evenly distributed

The train_test_split() method is used to split our data into train and test sets

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [20]:
print(x.shape, x_train.shape, x_test.shape) #original is 751 values , train values 600 and test 151

(751, 30) (600, 30) (151, 30)

Model Training Logistic Regression

In [21]:
model = LogisticRegression()

x is all the features of the data. y is the 0 and 1.

The fit() method takes the training data as arguments, which can be one array in the case of unsupervised learning, or two arrays in the case of supervised learning.

In [23]:
model.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accurancy score x_train will try now and predict what is the class values for the y model and the accuracy score

Accuracy for the training data

In [30]:
x_train_prediction = model.predict(x_train)
data_training_Score = accuracy_score(x_train_prediction, y_train)

In [31]:
print('Training datas Accuracy : ', data_training_Score)

Training datas Accuracy :  0.9566666666666667

Good accuracy score. 95 predictions out of 100. Training data

In [28]:
# accuracy on test data
x_test_prediction = model.predict(x_test)
data_test_score = accuracy_score(x_test_prediction, y_test)

In [29]:
print('test data Accuracy : ', data_test_score)

test data Accuracy :  0.9205298013245033

Score was similiar to training data but test is very important. Good score overall on this dataset

Summary of the work Inlcude in document -
I imported the dependicies the libraries and functions I needed. Loaded the csv file into a pandas dataframe. I started off by checking first five rows and last five of the data frame. Checked the missing values using the isnull function.There were no missing values. The data wasnt very balanced. I then seperated the data into legit and fraudlent transactions were I done some statitical analysis. When I had done that I split the data into targets and features for the machine learning algorithm. Training data and test data. Then I trained the logistic regression model then my final step was to evaluate the accuracy of the model on the data.